{% extends "template.html.twig" %}

{% block title %}Liste des personnes
{% endblock %}

{% block pageTitle %}
	Liste des personnes
{% endblock %}

{% block body %}
	<div class="row">
		{% for personne in personnes %}
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">{{ personne.name }}</h5>
					<h6 class="card-subtitle mb-2 text-body-secondary">{{ personne.firstname }}
						{{ personne.name }}</h6>
					<p class="card-text">{{ personne.age }}
						ans.</p>
					<a href="{{ path('personne.detail', {id: personne.id}) }}" class="card-link">Détails</a>
					<a href="{{path('personne.delete', {id: personne.id})}}" class="card-link">Supprimer</a>
				</div>
			</div>
		{% endfor %}

		{% if isPaginated is defined and isPaginated %}
			<div class="row mt-2">
				<nav class="col" aria-label="Page navigation example">
					<ul class="pagination">
						{% if page != 1 %}
							<li class="page-item">
								<a class="page-link" href="{{path('personne.list.all', {page: page - 1, limit: limit})}}">Previous</a>
							</li>
						{% endif %}

						{% for i in range(1, nbrePage) %}
							<li class="page-item">
								<a class="page-link {% if page == i %}active{% endif %}" href="{{ path('personne.list.all', {page: i, limit: limit}) }}">{{i}}</a>
							</li>
						{% endfor %}
						{% if page != nbrePage %}
							<li class="page-item">
								<a class="page-link" href="{{path('personne.list.all', {page: page + 1, limit: limit})}}">Next</a>
							</li>
						{% endif %}
					</ul>
				</nav>
			</div>
		{% endif %}

	</div>
{% endblock %}
